body {
    background-color: #ffffff;}


.tulips {
    
    background-size: cover;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0px;
    border-radius: 4%;
    border: 5px solid #615f60;
 background-color: #cac8c8; }

    .groups {
        background-color: #ffffff;

        display: flex;

        align-items: center;
        margin: 1px;
        height: 4rem; 
        width: 4rem;

     border-radius: 7%;
    border: 4px solid #000;}  
    .iventory {
        justify-self: center;
        background-color:rgba(180, 158, 110, 0.555);
        display: flex;
        justify-content:center ;
        flex-wrap: wrap;
        flex-wrap: wrap-reverse;
        align-items:center;
        height: 40em; 
        width: 90em;
       
      
         border-top-left-radius: 4%;
         border-top-right-radius: 4%;
         border-bottom-left-radius: 6%;
            border-bottom-right-radius: 6%;
    border: 2px solid #000;
    }  